@model StudentManagement.Service.Dto.StudentProfileDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<!-- right main container start here -->
<div class="app-container">
    <div class="student-major-details default-form col-12">
        <div class="row mb-4">

            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Name</label>
                    <input type="text" disabled asp-for="Name" class="form-control" placeholder="student name" value="KPT Narola">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Email</label>
                    <input type="email" disabled asp-for="OfficialEmail" class="form-control" placeholder="student name" value="keyupatel007@gmail.com">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Username</label>
                    <input type="text" asp-for="UserName" disabled class="form-control" placeholder="user name" value="keyur patel">
                </div>
            </div>

        </div>
        <div class="row mb-4">

            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">College Name</label>
                    <select name="CollegeList" asp-for="CollegeId" disabled class="form-control" asp-items="@ViewBag.CollegeList">
                        <option value="">--Select College--</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Course Name</label>
                    <select name="CourseId" disabled asp-for="CourseId" class="form-control" asp-items="@ViewBag.CourseList">
                        <option value="">--Select Course--</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Branch</label>
                    <select name="BranchId" disabled asp-for="BranchId" class="form-control" asp-items="@ViewBag.BranchList">
                        <option value="">--Select Branch--</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row mb-3">

            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Father Name</label>
                    <input type="text" name="FatherName" asp-for="FatherName" class="form-control" placeholder="FatherName" disabled />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Father Mobile 1</label>
                    <input type="text" name="FatherMobile1" asp-for="FatherMobile1" class="form-control" placeholder="father mobile 1 " disabled />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group mb-0">
                    <label class="form-label">Father Email</label>
                    <input type="text" name="FatherEmail" asp-for="FatherEmail" class="form-control" placeholder="Father email" disabled />
                </div>
            </div>

        </div>
    </div>
    <div class="inner-tab-panel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs topnav" role="tablist">
            <li class="nav-item">
                <a class="nav-link active active" data-toggle="tab" href="#home">Personal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">College</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Parent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu3">Current Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu4">Educational</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu5">Entrance Exam</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu6">Upload Documents</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content page-container">
            <div id="home" class="tab-pane active">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Add Personal Details
                        </h6>
                    </div>
                    <form id="frmPersonalDetail" asp-controller="StudentProfile" asp-area="Student" asp-action="Updatestudent" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->

                            <div class="default-form">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4 mb-4">
                                            <label class="form-label">Name <span class="pl-1 text-danger"> * </span></label>
                                            <input type="text" asp-for="Name" class="form-control" placeholder="Name" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Official  Email <span class="pl-1 text-danger"> * </span></label>
                                            <input type="text" asp-for="OfficialEmail" class="form-control" placeholder="OfficialEmail" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Username <span class="pl-1 text-danger"> * </span></label>
                                            <input type="text" asp-for="UserName" class="form-control" placeholder="User Name" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mobile Number 1</label>
                                            <input type="text" asp-for="Mobile1" class="form-control" placeholder="Mobile Number 1">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mobile Number 2</label>
                                            <input type="text" asp-for="Mobile2" class="form-control" placeholder="Mobile Number 2">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Personal Email 1</label>
                                            <input type="email" asp-for="PersonalEmail1" class="form-control" placeholder="Personal Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Personal Email 2</label>
                                            <input type="email" asp-for="PersonalEmail2" class="form-control" placeholder="Personal Email 2">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Gernder</label>
                                            <select name="GenderId" asp-for="GenderId" class="form-control" asp-items="@ViewBag.GenderList">
                                                <option value="">--Select Gernder--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Date of birth</label>
                                            <input type="date" asp-for="Dob" class="form-control" placeholder="Date Of Birth">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Cast Category</label>
                                            <select name="CategoryId" asp-for="CategoryId" class="form-control" asp-items="@ViewBag.CategoryList">
                                                <option value="">--Select Category--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Blood Group</label>
                                            <select name="BloodGroupId" asp-for="BloodGroupId" class="form-control" asp-items="@ViewBag.BloodGroupList">
                                                <option value="">--Select Blood Group--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Religion</label>
                                            <select name="ReligionId" asp-for="ReligionId" class="form-control" asp-items="@ViewBag.ReligionList">
                                                <option value="">--Select Religion--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Nationality</label>
                                            <select name="CountryId" asp-for="CountryId" class="form-control" asp-items="@ViewBag.CountryList">
                                                <option value="">--Select Nationality--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Domicile</label>
                                            <select name="StateId" asp-for="StateId" class="form-control" asp-items="@ViewBag.StateList">
                                                <option value="">--Select Domicile--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- form end here -->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Add College Details
                        </h6>
                    </div>
                    <form id="frmCollegeDetail" asp-controller="StudentProfile" asp-area="Student" asp-action="UpdateCollegeDetail" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->
                            <div class="default-form">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Campus</label>
                                            <select name="CampusId" asp-for="CampusId" class="form-control" asp-items="@ViewBag.CampusList" disabled>
                                                <option value="">--Select Campus--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">College</label>
                                            <select name="CollegeId" asp-for="CollegeId" class="form-control" asp-items="@ViewBag.CollegeList" disabled>
                                                <option value="">--Select College--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Course</label>
                                            <select name="CourseId" asp-for="CourseId" class="form-control" asp-items="@ViewBag.CourseList" disabled>
                                                <option value="">--Select Course--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Branch</label>
                                            <select name="BranchId" asp-for="BranchId" class="form-control" asp-items="@ViewBag.BranchList" disabled>
                                                <option value="">--Select Branch--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Year</label>
                                            <select name="YearSemId" asp-for="YearSemId" class="form-control" asp-items="@ViewBag.YearSemList" disabled>
                                                <option value="">--Select Year--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Batch</label>
                                            <select name="BatchId" asp-for="BatchId" class="form-control" asp-items="@ViewBag.BatchList" disabled>
                                                <option value="">--Select Batch--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Admission Type</label>
                                            <select name="AdmissionTypeId" asp-for="AdmissionTypeId" class="form-control" asp-items="@ViewBag.AdmissionTypeList" disabled>
                                                <option value="">--Select Admission Type--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Admission Batch</label>
                                            <select name="AdmissionBatchTypeId" asp-for="AdmissionBatchTypeId" class="form-control" asp-items="@ViewBag.BatchList" disabled>
                                                <option value="">--Select Admission Batch--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">College Roll No.</label>
                                            <input type="text" name="CollegeRollNo" asp-for="CollegeRollNo" class="form-control" placeholder="College roll no." />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">University Enrollment No.</label>
                                            <input type="text" name="UniversityEnrollmentNumber" asp-for="UniversityEnrollmentNumber" class="form-control" placeholder="University Enrollment No." />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Passport Number</label>
                                            <input type="text" name="PassportNumber" asp-for="PassportNumber" class="form-control" placeholder="Passport Number" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Aadhar Number</label>
                                            <input type="text" name="AdharNumber" asp-for="AdharNumber" class="form-control" placeholder="Aadhar Number" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">University Exam Role No.</label>
                                            <input type="text" name="UniversityExamRoleNo" asp-for="UniversityExamRoleNo" class="form-control" placeholder="University Exam RoleNo." />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>

            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Parent Details
                        </h6>
                    </div>
                    <form id="frmParentDetail" asp-controller="StudentProfile" asp-area="Student" asp-action="UpdateParentDetail" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->
                            <div class="default-form">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father Name</label>
                                            <input type="text" name="FatherName" asp-for="FatherName" class="form-control" placeholder="FatherName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father mobile 1</label>
                                            <input type="text" name="FatherMobile1" asp-for="FatherMobile1" class="form-control" placeholder="father mobile 1 Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father mobile 2</label>
                                            <input type="text" name="FatherMobile2" asp-for="FatherMobile2" class="form-control" placeholder="father mobile 2 Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father Email</label>
                                            <input type="text" name="FatherEmail" asp-for="FatherEmail" class="form-control" placeholder="Father email" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father address</label>
                                            <input type="text" name="FatherAddress" asp-for="FatherAddress" class="form-control" placeholder="Father address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father City</label>
                                            <select name="FatherCityId" asp-for="FatherCityId" class="form-control" asp-items="@ViewBag.CityList">
                                                <option value="">--Select Stay City--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father State</label>
                                            <select name="FatherStateId" asp-for="FatherStateId" class="form-control" asp-items="@ViewBag.StateList">
                                                <option value="">--Select Stay State--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Father  Country</label>
                                            <select name="FatherCountryId" asp-for="FatherCountryId" class="form-control" asp-items="@ViewBag.CountryList">
                                                <option value="">--Select Stay Country--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother Name</label>
                                            <input type="text" name="MotherName" asp-for="MotherName" class="form-control" placeholder="MotherName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother mobile 1</label>
                                            <input type="text" name="MotherMobile1" asp-for="MotherMobile1" class="form-control" placeholder="Mother mobile 1 Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother mobile 2</label>
                                            <input type="text" name="MotherMobile2" asp-for="MotherMobile2" class="form-control" placeholder="Mother mobile 2 Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother Email</label>
                                            <input type="text" name="MotherEmail" asp-for="MotherEmail" class="form-control" placeholder="Mother email" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother address</label>
                                            <input type="text" name="MotherAddress" asp-for="MotherAddress" class="form-control" placeholder="Mother address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother City</label>
                                            <select name="MotherCityId" asp-for="MotherCityId" class="form-control" asp-items="@ViewBag.CityList">
                                                <option value="">--Select Stay City--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother State</label>
                                            <select name="MotherStateId" asp-for="MotherStateId" class="form-control" asp-items="@ViewBag.StateList">
                                                <option value="">--Select Stay State--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Mother  Country</label>
                                            <select name="MotherCountryId" asp-for="MotherCountryId" class="form-control" asp-items="@ViewBag.CountryList">
                                                <option value="">--Select Stay Country--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG Name</label>
                                            <input type="text" name="LGName" asp-for="LGName" class="form-control" placeholder="LGName" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG Relation</label>
                                            <select name="LGRelationId" asp-for="LGRelationId" class="form-control" asp-items="@ViewBag.RelationList">
                                                <option value="">--Select LG Relation--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG mobile 1</label>
                                            <input type="text" name="LGMobile1" asp-for="LGMobile1" class="form-control" placeholder="LG mobile 1 Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG mobile 2</label>
                                            <input type="text" name="LGMobile2" asp-for="LGMobile2" class="form-control" placeholder="LG mobile 2 Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG Email</label>
                                            <input type="text" name="LGEmail" asp-for="LGEmail" class="form-control" placeholder="LG email" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG address</label>
                                            <input type="text" name="LGAddress" asp-for="LGAddress" class="form-control" placeholder="LG address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG City</label>
                                            <select name="LGCityId" asp-for="LGCityId" class="form-control" asp-items="@ViewBag.CityList">
                                                <option value="">--Select Stay City--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG State</label>
                                            <select name="LGStateId" asp-for="LGStateId" class="form-control" asp-items="@ViewBag.StateList">
                                                <option value="">--Select Stay State--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">LG  Country</label>
                                            <select name="LGCountryId" asp-for="LGCountryId" class="form-control" asp-items="@ViewBag.CountryList">
                                                <option value="">--Select Stay Country--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Current Address Details
                        </h6>
                    </div>
                    <form id="frmCurrentAddress" asp-controller="StudentProfile" asp-area="Student" asp-action="UpdateCurrentAddress" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->
                            <div class="default-form">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Stay Type</label>
                                            <select name="StayTypeId" asp-for="StayTypeId" class="form-control" asp-items="@ViewBag.StayTypeList">
                                                <option value="">--Select Campus--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Stay Address</label>
                                            <input type="text" name="StayAddress" asp-for="StayAddress" class="form-control" placeholder="Stay Address" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Stay Relation</label>
                                            <select name="StayRelationId" asp-for="StayRelationId" class="form-control" asp-items="@ViewBag.RelationList">
                                                <option value="">--Select Stay Relation--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Stay City</label>
                                            <select name="StayCityId" asp-for="StayCityId" class="form-control" asp-items="@ViewBag.CityList">
                                                <option value="">--Select Stay City--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Stay State</label>
                                            <select name="StayStateId" asp-for="StayStateId" class="form-control" asp-items="@ViewBag.StateList">
                                                <option value="">--Select Stay State--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Stay Country</label>
                                            <select name="StayCountryId" asp-for="StayCountryId" class="form-control" asp-items="@ViewBag.CountryList">
                                                <option value="">--Select Stay Country--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">PinCode</label>
                                            <input type="text" name="StayPinCode" asp-for="StayPinCode" class="form-control" placeholder="pincode" />
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu4" class="tab-pane fade">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Educational Details
                        </h6>
                    </div>
                    <form id="frmEducationalDetails" asp-controller="StudentProfile" asp-area="Student" asp-action="UpdateQualificationDetail" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->
                            <div class="default-form">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4 ">
                                            <input class="educationchk" type="checkbox" id="chk10th" />
                                            <label class="form-label">10th</label>

                                            <input class="educationchk" type="checkbox" id="chk12th" />
                                            <label class="form-label">12th</label>

                                            <input class="educationchk" type="checkbox" id="chkDiploma" />
                                            <label class="form-label">Diploma</label>

                                            <input class="educationchk" type="checkbox" id="chkDegree" />
                                            <label class="form-label">Degree</label>

                                            
                                        
                                            <input class="educationchk" type="checkbox" id="chkPostGrad" />
                                            <label class="form-label">PostGraduation</label>
                                        </div>
                                        

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">

                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">

                                    </div>
                                </div>
                                <h3 class="tenStudn">10 Equivalent Details</h3>
                                <div class="row tenStudn">
                                    <div class="col-lg-4 col-md-4 col-12">

                                        <div class="form-group mb-4">
                                            <label class="form-label">Year of Passing</label>
                                            <input type="text" name="TenYearOfPassing" asp-for="TenYearOfPassing" class="form-control" placeholder="EntranceExamRollno" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Marking Scheme</label>
                                            <select name="TenMarkingScheameId" asp-for="TenMarkingScheameId" class="form-control" asp-items="@ViewBag.MarkingSchemeList">
                                                <option value="">--Marking Scheme--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Overall CGPA</label>
                                            <input type="number" name="TenCGPA" asp-for="TenCGPA" class="form-control" placeholder="CGPA" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row tenStudn">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">School Name</label>
                                            <input type="text" name="TenSchoolName" asp-for="TenSchoolName" class="form-control" placeholder="Ten SchoolName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Ten BoardName</label>
                                            <input type="text" name="TenBoardName" asp-for="TenBoardName" class="form-control" placeholder="Ten BoardName" />
                                        </div>
                                    </div>

                                </div>


                                <h3 class="dipStun">Diploma Equivalent Details</h3>
                                <div class="row dipStun">
                                    <div class="col-lg-4 col-md-4 col-12">

                                        <div class="form-group mb-4">
                                            <label class="form-label">Diploma Name</label>
                                            <select name="DiplomaId" asp-for="DiplomaId" class="form-control" asp-items="@ViewBag.DiplomaList">
                                                <option value="">--Diploma Name--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Passing Year</label>
                                            <input type="number" name="DiplomaYear" asp-for="DiplomaYear" class="form-control" placeholder="DiplomaYear" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Marking Scheme</label>
                                            <select name="DiplomaMarkingScheameId" asp-for="DiplomaMarkingScheameId" class="form-control" asp-items="@ViewBag.MarkingSchemeList">
                                                <option value="">--Marking Scheme--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Overall CGPA</label>
                                            <input type="number" name="DiplomaCGPA" asp-for="DiplomaCGPA" class="form-control" placeholder="CGPA" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row dipStun">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Name</label>
                                            <input type="text" name="DiplomaSchoolName" asp-for="DiplomaSchoolName" class="form-control" placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Board</label>
                                            <input type="text" name="DiplomaBoardName" asp-for="DiplomaBoardName" class="form-control" placeholder="Board" />
                                        </div>
                                    </div>

                                </div>


                                <h3 class="ugStun">UG Equivalent Details</h3>
                                <div class="row ugStun">
                                    <div class="col-lg-4 col-md-4 col-12">

                                        <div class="form-group mb-4">
                                            <label class="form-label">Degree Name</label>
                                            <select name="DegreeId" asp-for="DegreeId" class="form-control" asp-items="@ViewBag.DegreeList">
                                                <option value="">--Degree Name--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Passing Year</label>
                                            <input type="number" name="DegreeYear" asp-for="DegreeYear" class="form-control" placeholder="DegreeYear" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Marking Scheme</label>
                                            <select name="DegreeMarkingScheameId" asp-for="DegreeMarkingScheameId" class="form-control" asp-items="@ViewBag.MarkingSchemeList">
                                                <option value="">--Marking Scheme--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Overall CGPA</label>
                                            <input type="number" name="DegreeCGPA" asp-for="DegreeCGPA" class="form-control" placeholder="CGPA" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row ugStun">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Name</label>
                                            <input type="text" name="DegreeSchoolName" asp-for="DegreeSchoolName" class="form-control" placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Board</label>
                                            <input type="text" name="DegreeBoardName" asp-for="DegreeBoardName" class="form-control" placeholder="Board" />
                                        </div>
                                    </div>

                                </div>

                                <h3 class="pgStun">PG Equivalent Details</h3>
                                <div class="row pgStun">
                                    <div class="col-lg-4 col-md-4 col-12">

                                        <div class="form-group mb-4">
                                            <label class="form-label">PG Degree Name</label>
                                            <select name="PGDegreeId" asp-for="PGDegreeId" class="form-control" asp-items="@ViewBag.PGDegreeList">
                                                <option value="">-- Slect PGDegree Name--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Passing Year</label>
                                            <input type="number" name="PGDegreeYear" asp-for="PGDegreeYear" class="form-control" placeholder="DegreeYear" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Marking Scheme</label>
                                            <select name="PGDegreeMarkingScheameId" asp-for="PGDegreeMarkingScheameId" class="form-control" asp-items="@ViewBag.MarkingSchemeList">
                                                <option value="">--Marking Scheme--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Overall CGPA</label>
                                            <input type="number" name="PGDegreeCGPA" asp-for="PGDegreeCGPA" class="form-control" placeholder="CGPA" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row pgStun">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Name</label>
                                            <input type="text" name="PGDegreeSchoolName" asp-for="PGDegreeSchoolName" class="form-control" placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Board</label>
                                            <input type="text" name="PGDegreeBoardName" asp-for="PGDegreeBoardName" class="form-control" placeholder="Board" />
                                        </div>
                                    </div>

                                </div>

                                <h3 class="TwelStun">12 Equivalent Details</h3>
                                <div class="row TwelStun">


                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Passing Year</label>
                                            <input type="number" name="TwelveYearOfPassing" asp-for="TwelveYearOfPassing" class="form-control" placeholder="Twelve Year Of Passing" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Marking Scheme</label>
                                            <select name="TwelveMakingScheameId" asp-for="TwelveMakingScheameId" class="form-control" asp-items="@ViewBag.MarkingSchemeList">
                                                <option value="">--Marking Scheme--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Overall CGPA</label>
                                            <input type="number" name="TwelveCGPA" asp-for="TwelveCGPA" class="form-control" placeholder="CGPA" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">PCM CGPA</label>
                                            <input type="number" name="TwelvePCM" asp-for="TwelvePCM" class="form-control" placeholder="CGPA" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row TwelStun">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Name</label>
                                            <input type="text" name="TwelveSchoolName" asp-for="TwelveSchoolName" class="form-control" placeholder="Name" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Board</label>
                                            <input type="text" name="TwelveBoardName" asp-for="TwelveBoardName" class="form-control" placeholder="Board" />
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="modal-footer educationCancelSave">
                            <button class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu5" class="tab-pane fade">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Entrance Exam Details
                        </h6>
                    </div>
                    <form id="frmEntranceExam" asp-controller="StudentProfile" asp-area="Student" asp-action="UpdateEntranceExamDetail" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->
                            <div class="default-form">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Have you given any entrance exam?</label>
                                            <select name="IsEntrance" asp-for="IsEntrance" class="form-control">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Exam Name</label>
                                            <select name="EntranceExamId" asp-for="EntranceExamId" class="form-control" asp-items="@ViewBag.RelationList">
                                                <option value="">--Select Exam Name--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Exam Year</label>
                                            <input type="text" name="EntranceExamYear" asp-for="EntranceExamYear" class="form-control" placeholder="EntranceExamYear" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Exam Rollno</label>
                                            <input type="text" name="EntranceExamRollno" asp-for="EntranceExamRollno" class="form-control" placeholder="EntranceExamRollno" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Marks Obtained</label>
                                            <input type="number" name="EntranceExamMarkObt" asp-for="EntranceExamMarkObt" class="form-control" placeholder="Marks Obtained" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Exam Air</label>
                                            <input type="number" name="EntranceExamAir" asp-for="EntranceExamAir" class="form-control" placeholder="EntranceExamAir" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-12">
                                        <div class="form-group mb-4">
                                            <label class="form-label">Exam category rank</label>
                                            <input type="text" name="EntranceExamCatefgoryRank" asp-for="EntranceExamCatefgoryRank" class="form-control" placeholder="ExamCatefgory Rank" />
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <!-- form end here -->
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="menu6" class="tab-pane fade">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Upload Documents
                        </h6>
                    </div>
                    <form id="frmDocument" asp-controller="StudentProfile" asp-area="Student" asp-action="UpdateDocuments" method="post">
                        <div class="card-body modal-body">
                            <!-- form start here -->
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">10th Marksheet</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="TenMarksheetPath" asp-for="TenMarksheetPath" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">12th Marksheet</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="TwelveMarksheetPath" asp-for="TwelveMarksheetPath" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Diploma Marksheet</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="DiplomaMarksheetPath" asp-for="DiplomaMarksheetPath" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- form end here -->
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Degree Marksheet</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="DegreeMarksheetPath" asp-for="DegreeMarksheetPath" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Post Graduation Marksheet</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="PGMarksheetPath" asp-for="PGMarksheetPath" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Colored Photograph</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="ColoredPhotograph" asp-for="ColoredPhotograph" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Caste Certificate</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="CasteCertificate" asp-for="CasteCertificate" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Domicile Certificate </label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="DomicileCertificate" asp-for="DomicileCertificate" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Birth Certificate</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="BirthCertificate" asp-for="BirthCertificate" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Passport</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="Passport" asp-for="Passport" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="form-group mb-4">
                                        <label class="form-label">Adharcard</label>
                                        <div class="upload-document position-relative">
                                            <input type="file" name="Adharcard" asp-for="Adharcard" class="form-control  DocumentFiles" />
                                            <div class="upload-img-section">
                                                <i class="fal fa-upload"></i>
                                                <p class="text-center upload-document-title">Upload Document</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- form end here -->
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary">Cancel</button>
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {

            var PersonalValidation = $("#frmPersonalDetail").validate({
                rules: {
                    "Mobile1": { required: true, minlength: 10, maxlength: 10, number: true },
                    "Mobile2": { required: true },
                    "PersonalEmail1": { required: true, email: true },
                    "PersonalEmail2": { required: true, email: true },
                    "GenderId": { required: true },
                    "Dob": { required: true },
                    "CategoryId": { required: true },
                    "BloodGroupId": { required: true },
                    "ReligionId": { required: true },
                    "CountryId": { required: true },
                    "StateId": { required: true },


                },

                messages: {
                    "Mobile1": { required: "Please insert MobileNumber1", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "Mobile2": { required: "Please insert MobileNumber2" },
                    "PersonalEmail1": { required: "Please insert Personal Email 1" },
                    "PersonalEmail2": { required: "Please insert Personal Email 1" },
                    "GenderId": { required: "Please insert Personal Gender" },
                    "Dob": { required: "Please insert Personal Gender" },
                    "CategoryId": { required: "Please insert Personal Category" },
                    "BloodGroupId": { required: "Please insert Personal BloodGroup" },
                    "ReligionId": { required: "Please insert Personal Religion" },
                    "CountryId": { required: "Please insert Personal Nationality" },
                    "StateId": { required: "Please insert Personal Domicile" },

                },
                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();

                    $.post(post_url, form_data, function (response) {
                        swal({
                            title: "updated",
                            text: "Records updated successfully ",
                            icon: "success",
                        });
                    });
                }

            });
            var CollegeValidation = $("#frmCollegeDetail").validate({
                rules: {
                    "CampusId": { required: true },
                    "CollegeId": { required: true },
                    "CourseId": { required: true },
                    "BranchId": { required: true },
                    "AdmissionTypeId": { required: true },
                    "AdmissionBatchTypeId": { required: true },
                    "CollegeRollNo": { required: true },
                    "UniversityEnrollmentNumber": { required: true },
                    "UniversityExamRoleNo": { required: true },
                    "PassportNumber": { required: true },
                    "AdharNumber": { required: true }



                },

                messages: {
                    "CampusId": { required: "Please select campus" },
                    "CollegeId": { required: "Please select college " },
                    "CourseId": { required: "Please select course " },
                    "BranchId": { required: "Please select branch " },
                    "AdmissionTypeId": { required: "Please select admission type " },
                    "AdmissionBatchTypeId": { required: "Please select admission batch type " },
                    "CollegeRollNo": { required: "Please enter college roll number " },
                    "UniversityEnrollmentNumber": { required: "Please enter  enrollment number" },
                    "PassportNumber": { required: "Please enter passport number" },
                    "AdharNumber": { required: "Please enter adhar number" }

                },
                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();

                    $.post(post_url, form_data, function (response) {
                        swal({
                            title: "updated",
                            text: "Records updated successfully ",
                            icon: "success",
                        });
                    });
                }

            });
            var currentAddressvalidation = $("#frmCurrentAddress").validate({
                rules: {
                    "StayTypeId": { required: true },
                    "StayAddress": { required: true },
                    "StayRelationId": { required: true },
                    "StayCityId": { required: true },
                    "StayStateId": { required: true },
                    "StayCountryId": { required: true },
                    "StayPinCode": { required: true }
                },

                messages: {
                    "StayTypeId": { required: "Please select stay type " },
                    "StayAddress": { required: "Please enter stay address " },
                    "StayRelationId": { required: "Please select stay relation " },
                    "StayCityId": { required: "Please select stay city" },
                    "StayStateId": { required: "Please select stay state " },
                    "StayCountryId": { required: "Please select stay country " },
                    "StayPinCode": { required: "Please stay pincode " }

                },
                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();

                    $.post(post_url, form_data, function (response) {
                        swal({
                            title: "updated",
                            text: "Records updated successfully ",
                            icon: "success",
                        });
                    });
                }

            });
            var parentDetailvalidation = $("#frmParentDetail").validate({
                rules: {
                    "FatherName": { required: true },
                    "FatherMobile1": { required: true, minlength: 10, maxlength: 10, number: true },
                    "FatherMobile2": { required: true, minlength: 10, maxlength: 10, number: true },
                    "FatherEmail": { required: true, email: true },
                    "FatherAddress": { required: true },

                    "MotherName": { required: true },
                    "MotherMobile1": { required: true, minlength: 10, maxlength: 10, number: true, minlength: 10, maxlength: 10, number: true },
                    "MotherMobile2": { required: true, minlength: 10, maxlength: 10, number: true, minlength: 10, maxlength: 10, number: true },
                    "MotherEmail": { required: true, email: true },
                    "MotherAddress": { required: true },

                    "LGName": { required: true },
                    "LGMobile1": { required: true, minlength: 10, maxlength: 10, number: true, minlength: 10, maxlength: 10, number: true },
                    "LGMobile2": { required: true, minlength: 10, maxlength: 10, number: true, minlength: 10, maxlength: 10, number: true },
                    "LGEmail": { required: true },
                    "LGAddress": { required: true },
                    "LGRelationId": { required: true }

                },

                messages: {
                    "FatherName": { required: "This field is required" },
                    "FatherMobile1": { required: "This field is required", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "FatherMobile2": { required: "This field is required", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "FatherEmail": { required: "This field is required" },
                    "FatherAddress": { required: "This field is required" },

                    "MotherName": { required: "This field is required" },
                    "MotherMobile1": { required: "This field is required", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "MotherMobile2": { required: "This field is required", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "MotherEmail": { required: "This field is required" },
                    "MotherAddress": { required: "This field is required" },

                    "LGName": { required: "This field is required" },
                    "LGMobile1": { required: "This field is required", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "LGMobile2": { required: "This field is required", minlength: "Please enter at least 10 numbers.", maxlength: "Please enter at least 10 numbers." },
                    "LGEmail": { required: "This field is required" },
                    "LGAddress": { required: "This field is required" },
                    "LGRelationId": { required: "This field is required" }

                },
                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();

                    $.post(post_url, form_data, function (response) {
                        swal({
                            title: "updated",
                            text: "Records updated successfully ",
                            icon: "success",
                        });
                    });
                }

            });

            var entranceExamvalidation = $("#frmEntranceExam").validate({
                rules: {
                    "EntranceExamId": { required: true },
                    "EntranceExamYear": { required: true },
                    "EntranceExamRollno": { required: true },
                    "EntranceExamMarkObt": { required: true },
                    "EntranceExamAir": { required: true },
                    "EntranceExamCatefgoryRank": { required: true },


                },

                messages: {
                    "EntranceExamId": { required: "This field is  required" },
                    "EntranceExamYear": { required: "This field is  required" },
                    "EntranceExamRollno": { required: "This field is  required" },
                    "EntranceExamMarkObt": { required: "This field is  required" },
                    "EntranceExamAir": { required: "This field is  required" },
                    "EntranceExamCatefgoryRank": { required: "This field is  required" },

                },
                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();

                    $.post(post_url, form_data, function (response) {
                        swal({
                            title: "updated",
                            text: "Records updated successfully ",
                            icon: "success",
                        });
                    });
                }

            });

            var entranceExamvalidation = $("#frmEducationalDetails").validate({
                rules: {
                    "DegreeId": { required: true },
                    "DiplomaId": { required: true },
                    "TenMarkingScheameId": { required: true },
                    "TenBoardName": { required: true },
                    "TenYearOfPassing": { required: true },
                    "TenCGPA": { required: true },
                    "TenSchoolName": { required: true },
                    "TwelveMakingScheameId": { required: true },
                    "TwelveBoardName": { required: true },
                    "TwelveYearOfPassing": { required: true },
                    "TwelveCGPA": { required: true },
                    "TwelvePCM": { required: true },
                    "TwelveSchoolName": { required: true },
                    "DiplomaYear": { required: true },
                    "DiplomaMarkingScheameId": { required: true },
                    "DiplomaCGPA": { required: true },
                    "DiplomaBoardName": { required: true },
                    "DiplomaSchoolName": { required: true },
                    "DegreeYear": { required: true },
                    "DegreeMarkingScheameId": { required: true },
                    "DegreeCGPA": { required: true },
                    "DegreeSchoolName": { required: true },
                    "DegreeBoardName": { required: true },
                    "PGDegreeId": { required: true },
                    "PGDegreeYear": { required: true },
                    "PGDegreeMarkingScheameId": { required: true },
                    "PGDegreeCGPA": { required: true },
                    "PGDegreeSchoolName": { required: true },
                    "PGDegreeBoardName": { required: true }


                },

                submitHandler: function (form) {
                    let post_url = form.action;
                    let form_data = $(form).serialize();

                    $.post(post_url, form_data, function (response) {
                        swal({
                            title: "updated",
                            text: "Records updated successfully ",
                            icon: "success",
                        });
                    });
                }

            });

            var document = $("#frmDocument").validate({

                submitHandler: function (form) {
                    let post_url = form.action;
                    // let form_data = $(form).serialize();
                    var formData = new FormData();
                    var TenMarksheetPath = $("#TenMarksheetPath").get(0).files;
                    var TwelveMarksheetPath = $("#TwelveMarksheetPath").get(0).files;
                    var DiplomaMarksheetPath = $("#DiplomaMarksheetPath").get(0).files;
                    var DegreeMarksheetPath = $("#DegreeMarksheetPath").get(0).files;
                    var PGMarksheetPath = $("#PGMarksheetPath").get(0).files;
                    var ColoredPhotograph = $("#ColoredPhotograph").get(0).files;
                    var CasteCertificate = $("#CasteCertificate").get(0).files;
                    var DomicileCertificate = $("#DomicileCertificate").get(0).files;
                    var BirthCertificate = $("#BirthCertificate").get(0).files;
                    var Passport = $("#Passport").get(0).files;
                    var Adharcard = $("#Adharcard").get(0).files;

                    formData.append("TenMarksheetPath", TenMarksheetPath[0]);
                    formData.append("TwelveMarksheetPath", TwelveMarksheetPath[0]);
                    formData.append("DiplomaMarksheetPath", DiplomaMarksheetPath[0]);
                    formData.append("DegreeMarksheetPath", DegreeMarksheetPath[0]);
                    formData.append("PGMarksheetPath", PGMarksheetPath[0]);
                    formData.append("ColoredPhotograph", ColoredPhotograph[0]);
                    formData.append("CasteCertificate", CasteCertificate[0]);
                    formData.append("DomicileCertificate", DomicileCertificate[0]);
                    formData.append("BirthCertificate", BirthCertificate[0]);
                    formData.append("Passport", Passport[0]);
                    formData.append("Adharcard", Adharcard[0]);


                    $.ajax({
                        type: "POST",
                        contentType: false,
                        processData: false,
                        url: post_url,
                        dataType: "JSON",
                        traditional: true,
                        data: formData,
                        success: function (response) {
                            swal({
                                title: "Uploaded",
                                text: response.message,
                                icon: "success",
                            });
                            /*window.location.href = `/Student/StudentProfile/index`;*/

                        }
                    });
                }

            });

            hideShowEducation();
         
           
        });
        $(document).off("click", ".educationchk");
        $(document).on("click", ".educationchk", function () { hideShowEducation(); });

        $(document).off("change", ".DocumentFiles");
        $(document).on("change", ".DocumentFiles", function () {
            debugger;
            $(this).next().hide();
            $(this).parent().prepend("<h5>" + this.files[0].name.substring(0, 20) + "</h5>");
            $(this).parent().css("background-color", "#ffcccb");
        });
        function hideShowEducation() {
            if ($("#chk10th").prop("checked")) {
                $(".tenStudn").show();
            } else {
                $(".tenStudn").hide();
            }

            if ($("#chkDiploma").prop("checked")) {
                $(".dipStun").show();
            } else {
                $(".dipStun").hide();
            }

            if ($("#chkDegree").prop("checked")) {
                $(".ugStun").show();
            } else {
                $(".ugStun").hide();
            }

            if ($("#chkPostGrad").prop("checked")) {
                $(".pgStun").show();
            } else {
                $(".pgStun").hide();
            }
            

            if ($("#chk12th").prop("checked")) {
                $(".TwelStun").show();
            } else {
                $(".TwelStun").hide();
            }

            if ($(document).find(".educationchk:checked").length == 0)
                $(".educationCancelSave").hide();
            else
                $(".educationCancelSave").show();
        }

        $(document).off("change", "#IsEntrance");
        $(document).on("change", "#IsEntrance", function () {
            if ($(this).val() == 0) {

                $.each($("#frmEntranceExam").find("input[type='text'] ,select,input[type='number']"), function (key, ele) {

                    $(ele).attr("disabled", true);
                });
                $(this).attr("disabled", false);
            } else {

                $.each($("#frmEntranceExam").find("input[type='text'] ,select,input[type='number']"), function (key, ele) {

                    $(ele).attr("disabled", false);
                });
            }
        });
    </script>
}

