@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

@*<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

<html>

<head>
    <title>Student Managment System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>

<body>
    <div class="login-main-section">
        <div class="login-left-section">
        </div>
        <div class="login-right-section">
            <div class="login-main-content">
                <div class="logo-img text-center">
                    <h4><i class="fal fa-book-reader"></i></h4>
                    <p>Student Managment System</p>
                </div>
                <h2 class="text-uppercase text-white text-center">Login</h2>
                @*<form class="login-form default-form">
                        <div class="form-group position-relative mb-4">
                            <input type="text" class="form-control" placeholder="Email ID or username" />
                            <span class="form-addon"><i class="fal fa-user"></i></span>
                        </div>
                        <div class="form-group position-relative mb-4">
                            <input type="password" class="form-control" placeholder="Password" />
                            <span class="form-addon"><i class="fal fa-lock-alt"></i></span>
                        </div>
                        <div class="form-footer">
                            <a href="dashboard.html" class="btn btn-default w-100 text-white text-uppercase"> <span></span> Login</a>
                        </div>
                    </form>*@
                <form id="account" method="post">
                    
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            @*<a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>*@
                        </p>
                        <p>
                            @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>*@
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
