@model List<StudentManagement.Service.Dto.StudentMonthWiseDto>
@{
    ViewData["Title"] = "MothWiseClassReport";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}
<div class="app-container">
    <div class="inner-tab-panel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs topnav" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#">Class report</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content page-container">
            <div id="home" class="tab-pane active">
                <div class="card">
                    <div class="modal-header">
                        <h6 class="modal-title">
                            Month wise class report
                        </h6>
                    </div>
                    <div class="card-body modal-body">
                        <!-- form start here -->
                        <div class="default-form">
                            @{
                                var monthlist = Model.GroupBy(x => x.StudentName).ToList();
                            }
                            <div class="row">
                                <div class="col-12 table-responsive">
                                    <table class="default-table " id="classDetailForStudent">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                @foreach (var item in monthlist)
                                                {

                                                    <th colspan="3"> @Model.Where(x => x.StudentName == item.Key).Select(x => x.MonthName).FirstOrDefault()</th>


                                                }

                                                <th colspan="3"> Overall</th>
                                            </tr>
                                            <tr>
                                                @foreach (var item in monthlist)
                                                {

                                                    <th width="5%" class="td-roll"></th>
                                                    <th width="10%" class="td-name">Held</th>
                                                    <th width="15%" class="td-present-absent">Attendence</th>
                                                    <th width="5%" class="td-present-absent">%</th>

                                                }
                                                <th width="10%" class="td-name">Held</th>
                                                <th width="15%" class="td-present-absent">Attendence</th>
                                                <th width="5%" class="td-present-absent">%</th>

                                                @*<th width="30%" class="td-name">Held</th>
                                                    <th width="15%" class="td-present-absent">Attendence</th>
                                                    <th width="15%" class="td-present-absent">%</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in monthlist)
                                            {
                                                    <tr>
                                                        <td>@item.Key</td>
                                                        <td>@item.Select(x=>x.subjectHeld).Sum()</td>
                                                        <td>@item.Select(x=>x.StudentAttendence).Sum()</td>

                                                        <td>@((decimal)item.Select(x => x.StudentAttendence).Sum() / item.Select(x => x.subjectHeld).Sum() * 100) % </td>

                                                        <td>@Model.Where(x => x.MonthId == item.Where(x=>x.StudentName== item.Key).Select(x=>x.MonthId).FirstOrDefault()).Select(x => x.subjectHeld).Sum()</td>
                                                        <td>@Model.Where(x => x.MonthId == item.Where(x => x.StudentName == item.Key).Select(x => x.MonthId).FirstOrDefault()).Select(x => x.StudentAttendence).Sum()</td>
                                                        <td>@((decimal)Model.Where(x => x.MonthId == item.Where(x => x.StudentName == item.Key).Select(x => x.MonthId).FirstOrDefault()).Select(x => x.StudentAttendence).Sum() / Model.Where(x => x.MonthId == item.Where(x => x.StudentName == item.Key).Select(x => x.MonthId).FirstOrDefault()).Select(x => x.subjectHeld).Sum() * 100) %</td>

                                                    </tr>
                                                    
                                                

                                            }
                                           

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- form end here -->
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
